@import '../../../styles/global.css';

.pagenationBar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: start; /* 기본값으로 설정 */

  width: 280px;
  height: 40px;

  box-sizing: border-box;
}

.pageButton {
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  box-sizing: border-box;
  color: var(--Grayscale-40, #818181);
}

.pageButton:hover {
  color: var(--Grayscale-60, #000);
}

.active {
  color: var(--Brown-40, #542f1a);
}
