.MainPage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;

  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: #fafafa;
}

.buttonQuestion {
  display: block;
  margin: 45px 130px 0 auto;

  text-decoration: none;

  box-sizing: border-box;
  z-index: 1;
}

.image {
  object-fit: scale-down;
}

.logo {
  width: 100%;
  max-width: 456px;
  height: 180px;
  margin-top: 45px;
}

.background {
  position: absolute;
  bottom: 0;

  width: 100%;
  max-width: 1200px;
  z-index: 0;
}

.createFeed {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 16px;

  width: 400px;
  padding: 32px;
  border-radius: 16px;

  background-color: #ffffff;

  box-sizing: border-box;
  z-index: 1;
}

.errorMessage {
  align-self: flex-start;
  margin: -10px 0 0;
  color: #ff0000;
  font-size: 0.8rem;
  font-weight: 500;
}
