.messages-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 16px;
}

.messages-container-summary {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.messages-container-message-icon {
  width: 24px;
  height: 24px;
}

.messages-container > p {
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.25;
  color: var(--brown-40);
}

.messages-container-empty-icon {
  width: 150px;
  height: 154px;
  margin: 200px;
}

.feed-card-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
