.toast {
  position: fixed;
  bottom: 60px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #000;
  color: #fff;
  border-radius: 8px;
  padding: 12px 20px;
}

.default {
  background: var(--gray-60);
}
.error {
  background: var(--red-50);
}
.success {
  background-color: var(--blue-50);
}
